<!doctype html>
<html ng-app="demo" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Angular Bootstrap Locale Dialog</title>

    <!-- bootstrap css -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />


    <!-- inject:assets-styles:css --><link rel="stylesheet" href="assets/app.css"><!-- endinject -->
</head>
<body>

    <!-- load dependencies -->
    <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script type="application/javascript" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>

    <script type="application/javascript" src="angular-bootstrap-locale-dialog-v1.0.0.min.js"></script>

    <!-- inject:assets-scripts:js --><script src="assets/app.js"></script><script src="assets/plunker.js"></script><script src="assets/rainbow.js"></script><script src="assets/rainbow/rainbow-generic.js"></script><script src="assets/rainbow/rainbow-html.js"></script><script src="assets/rainbow/rainbow-javascript.js"></script><!-- endinject -->

    <header class="navbar navbar-default navbar-fixed-top app-top-navbar" role="navigation">
        <div class="container" ng-init="isNavbarCollapsed = true">

            <!-- Brand and toggle get grouped for better mobile display -->
            <nav class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isNavbarCollapsed = !isNavbarCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Angular Bootstrap Locale Dialog</a>
            </nav>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <nav class="navbar-collapse" uib-collapse="isNavbarCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#">Getting started</a></li>
                    <li><a href="#">Demo</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <div role="main">

        <div class="bs-docs-masthead">
            <div class="container">

                <h1>Angular Bootstrap Locale Dialog</h1>

                <p class="lead">Locale selector dialog for angular-bootstrap</p>

                <p class="lead">
                    <a href="#" class="btn btn-outline-inverse btn-lg">Code on Github</a>
                </p>

                <p class="version">Currently v1.0.0</p>
            </div>
        </div>

        <div class="container">
            <h1 id="angular-bootstrap-locale-dialog">angular-bootstrap-locale-dialog</h1>
<p>Locale selector dialog for angular-bootstrap</p>

        </div>

        <div class="container">
            <section id="demo">
                <div class="page-header">
                  <h1>$localeSelectorDialog</h1>
                  </div>
                  <div class="row">
                    <div class="col-md-6 show-grid">
                        <div ng-controller="DemoController as vm">
    <button ng-click="vm.changeLocale()" type="button" class="btn btn-default">
        Click Me
    </button>
</div>
                    </div>
                    <div class="col-md-6">
                        <h1 id="angular-bootstrap-locale-dialog">angular-bootstrap-locale-dialog</h1>
<p>Locale selector dialog for angular-bootstrap</p>

                    </div>
                </div>
                <hr>
                <div class="row code">
                    <div class="col-md-12" ng-controller="PlunkerCtrl">
                        <div class="pull-right">
                            <button type="button" class="btn btn-info plunk-btn" ng-click="edit('1.4.7', '3.3.5', '0.14.3', 'demo')">
                                <i class="glyphicon glyphicon-edit"></i>
                                Edit in plunker
                            </button>
                        </div>
                        <uib-tabset>
                            <uib-tab heading="Markup">
                                <div plunker-content="markup">
                                    <pre ng-non-bindable><code data-language="html"><div ng-controller="DemoController as vm">
    <button ng-click="vm.changeLocale()" type="button" class="btn btn-default">
        Click Me
    </button>
</div></code></pre>
                                </div>
                            </uib-tab>
                            <uib-tab heading="JavaScript">
                                <div plunker-content="javascript">
                                    <pre ng-non-bindable><code data-language="javascript">angular.module('demo')
.constant("avilableLocales", {
    "en-US": {
        "name": "English (US)",
        "language": "en",
        "country": "us"
    },
    "en-CA": {
        "name": "English (CA)",
        "language": "en",
        "country": "ca"
    },
    "en-GB": {
        "name": "English (GB)",
        "language": "en",
        "country": "gb"
    },
    "en-IN": {
        "name": "English (IN)",
        "language": "en",
        "country": "in"
    },
    "en-IE": {
        "name": "English (IE)",
        "language": "en",
        "country": "ie"
    },
    "fr-FR": {
        "name": "Fran\u00e7ais (FR)",
        "language": "fr",
        "country": "fr"
    },
    "fr-BE": {
        "name": "Fran\u00e7ais (BE)",
        "language": "fr",
        "country": "be"
    },
    "fr-CA": {
        "name": "Fran\u00e7ais (CA)",
        "language": "fr",
        "country": "ca"
    },
    "fr-SW": {
        "name": "Fran\u00e7ais (SW)",
        "language": "fr",
        "country": "sw"
    },
    "fr-LB": {
        "name": "Fran\u00e7ais (LB)",
        "language": "fr",
        "country": "lb"
    },
    "he-IL": {
        "name": "\u05e2\u05d1\u05e8\u05d9\u05ea",
        "language": "he",
        "country": "il"
    }
})
.controller('DemoController', function ($localeSelectorDialog, avilableLocales) {
    var vm = this;

    vm.changeLocale = function () {
        $localeSelectorDialog.open({
            locales: avilableLocales
        });
    };
});</code></pre>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </section>
            <script>angular.module('demo')
.constant("avilableLocales", {
    "en-US": {
        "name": "English (US)",
        "language": "en",
        "country": "us"
    },
    "en-CA": {
        "name": "English (CA)",
        "language": "en",
        "country": "ca"
    },
    "en-GB": {
        "name": "English (GB)",
        "language": "en",
        "country": "gb"
    },
    "en-IN": {
        "name": "English (IN)",
        "language": "en",
        "country": "in"
    },
    "en-IE": {
        "name": "English (IE)",
        "language": "en",
        "country": "ie"
    },
    "fr-FR": {
        "name": "Fran\u00e7ais (FR)",
        "language": "fr",
        "country": "fr"
    },
    "fr-BE": {
        "name": "Fran\u00e7ais (BE)",
        "language": "fr",
        "country": "be"
    },
    "fr-CA": {
        "name": "Fran\u00e7ais (CA)",
        "language": "fr",
        "country": "ca"
    },
    "fr-SW": {
        "name": "Fran\u00e7ais (SW)",
        "language": "fr",
        "country": "sw"
    },
    "fr-LB": {
        "name": "Fran\u00e7ais (LB)",
        "language": "fr",
        "country": "lb"
    },
    "he-IL": {
        "name": "\u05e2\u05d1\u05e8\u05d9\u05ea",
        "language": "he",
        "country": "il"
    }
})
.controller('DemoController', function ($localeSelectorDialog, avilableLocales) {
    var vm = this;

    vm.changeLocale = function () {
        $localeSelectorDialog.open({
            locales: avilableLocales
        });
    };
});</script>
        </div>
    </div>
</body>
</html>
